---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const samples = [
  {
    href: "/art-direction",
    src: "components/greece.jpg",
    title: "Art Direction",
  },
  {
    href: "/basic",
    src: "https://assets.twicpics.com/examples/football.jpg",
    title: "Basic Grid",
  },
  {
    href: "/flip-cards",
    src: "components/flip/orange-1.jpg",
    title: "Flip Cards",
  },
  {
    href: "/grid-and-zoom",
    src: "components/portraits/woman-1.jpg",
    title: "Grid and Zoom",
  },
  {
    href: "/slider",
    src: "components/slider/pantone.jpg",
    title: "Lazy Slider",
  },
  {
    href: "/short-video",
    src: "video/skater.mp4",
    title: "Short Video",
    video: true,
  },
];

const demos = [
  {
    framework: "Angular",
    url: "https://twicpics-angular-demo.netlify.app/",
  },
  {
    framework: "Gatsby.js",
    url: "https://twicpics-gatsby-demo.netlify.app/",
  },
  {
    framework: "Next.js",
    url: "https://twicpics-next-demo.netlify.app/",
  },
  {
    framework: "Nuxt.js (version 2)",
    url: "https://twicpics-nuxt2-demo.netlify.app/",
  },
  {
    framework: "Nuxt.js (version 3)",
    url: "https://twicpics-nuxt3-demo.netlify.app/",
  },
  {
    framework: "React",
    url: "https://twicpics-react-demo.netlify.app/",
  },
  {
    framework: "Svelte",
    url: "https://twicpics-svelte-demo.netlify.app/",
  },
  {
    framework: "SvelteKit",
    url: "https://twicpics-sveltekit-demo.netlify.app/",
  },
  {
    framework: "Vue.js (version 2)",
    url: "https://twicpics-vue2-demo.netlify.app/",
  },
  {
    framework: "Vue.js (version 3)",
    url: "https://twicpics-vue3-demo.netlify.app/",
  },
];
---

<Layout title="TwicPics x Astro">
  <main>
    <div class="twic-grid">
      {
        samples.map(({ href, src, title, video }) => (
          <>
            <Card href={href} src={src} title={title} video={video} />
          </>
        ))
      }
    </div>
    <div class="panel">
      <p>
        This project is a demonstration project of <a
          href="https://www.twicpics.com/docs/essentials/components??utm_source=github&utm_medium=organic&utm_campaign=components#components"
          target="_blank"
          rel="noreferrer">TwicPics Components</a
        >
        using <a href="https://astro.build/" target="_blank" rel="noreferrer"
          >Astro.js</a
        > with <a
          href="https://docs.astro.build/en/guides/integrations-guide/react/"
          target="_blank"
          rel="noreferrer">React Integration</a
        >.
      </p>
      <p>
        Regardless of the framework you work with, <a
          href="https://www.twicpics.com/?utm_source=github&utm_medium=organic&utm_campaign=components"
          target="_blank"
          rel="noreferrer">TwicPics</a
        > is the most efficient solution to deliver your images and your videos and
        make them as responsive as desired.
      </p>
      <p>Feel free to explore our demos and integration examples for :</p>
      <ul>
        {
          demos.map(({ framework, url }) => (
            <>
              <li>
                <a href={url} target="_blank" rel="noreferrer">
                  {framework}
                </a>
              </li>
            </>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>

<style lang="scss">
  .twic-grid {
    --twic-grid-columns-width: calc(200px);
  }
  .panel {
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  p {
    margin-bottom: 1rem;
  }
</style>
